<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @accommodation.titulo %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @accommodation.lugar %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @accommodation.informacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @accommodation.descripcion %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(:Foto) %>
</p>
<p>
  <strong>Tipo de hospedaje:</strong>
  <%= AccommodationType.find(@accommodation.accommodation_type_id).descripcion %>
</p>


<%= link_to 'Editar', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Volver', accommodations_path %>
