<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @accommodation_type.Titulo %>
</p>

<p>
<strong>Descripcion:</strong>
<%= @accommodation.Descripcion %>
</p>

<p>
<strong>Tipo de hospedaje:</strong>
<% if @accommodation.accommodation_type_id.nil? %>
<%= @accommodation.accommodation_type_id %>
<% else %>
<%= accommodationType.find(@accommodation.accommodation_type_id).Descripcion %>
<% <%end%>
</p>
	
	<p>
	<strong>Imagen:</strong>
<%= @accommodation.Imagen %>
</p>
<p>
<strong>Email del propietario:</strong>
<%= @accommodation.user.Email %>
</p>





<%= link_to 'volver', accommodation_types_path, class: "btn btn-warning" %> 









