<p id="notice"><%= notice %></p>

<p>
  <strong>Couchinn:</strong>
  <%= @aplicacion.couchinn %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @aplicacion.descripcion %>
</p>

<%= link_to 'Editar', edit_aplicacion_path(@aplicacion) %> |
<%= link_to 'Volver', aplicacions_path %>
